@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;500&display=swap');

*, li, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  &:focus {
    outline: none;
  }
  font-family: 'Maitree';
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    box-sizing: border-box;
  }
}

body {
  width: 100vw;
}
