@import '../../partials/_variables.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 0px 120px;
  background-color: $primary-light;
  &__logo {
    height: 40px;
  }
  &__right {
    display: flex;
    margin-right: 24px;
  }
  &__dropdown {
    position: relative;
    font-weight: 500;
    color: $primary-dark;
  }
  &__dropdownTitle {
    font-weight: bold;
    width: 105px;
    margin-right: 10px;
    padding: 12px 0px 14px 10px;
    &:hover {
      background-color: $primary-highlight;
    }
  }
  &__dropdownList {
    position: absolute;
    top: 52px;
    left: 0px;
  }
  &__dropdownItem {
    text-transform: capitalize;
    background-color: $primary-light;
    padding: 4px 8px;
    margin: 2px 0px;
    &:hover {
      background-color: $primary-highlight;
    }
  }
}