@import '../../partials/_mixins.scss';
@import '../../partials/_variables.scss';
.invoice {
  background-color: $bg;
  &__hero {
    padding: 80px 120px;
    background-image: url("../../assets/hero5.jpg");
    background-size: cover;
    background-position: 50% 100%;
  }
  &__header {
    font-size: 60px;
  }
  &__title {
    font-size: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding: 12px 0px 12px 120px;
    background-color: $primary-light;
    &-top, &-bottom {
      display: flex;
    }
    &-item, &-itemID, &-location, &-cases {
      background-color: white;
      border: 2px solid $primary-highlight;
      border-radius: 4px;
      padding: 4px 12px;
      margin-bottom: 4px;
      margin-right: 4px;
      color: grey;
    }
    &-item {
      width: 500px;
    }
    &-itemID {
      width: 100px;
      height: 40px;
      background-color: $primary-light;
      border-color: $primary-light;
    }
    &-location {
      width: 208px;
      margin-left: 104px;
      text-transform: capitalize;
    }
    &-cases {
      width: 94px;
    }
    &-button {
      @include button;
      margin-bottom: 4px;
      margin-left: 8px;
    }
  }
}