// Inventory Page SCSS
@import '../../partials/_variables.scss';
.inventory {
  background-color: $bg;
  &__hero {
    padding: 80px 120px;
    background-image: url("../../assets/hero.jpg");
    background-size: cover;
  }
  &__header {
    font-size: 60px;
  }
  &__title {
    text-transform: capitalize;
    font-size: 20px;
  }
  &__subtitles {
    display: flex;
    font-weight: bold;
    padding: 12px 12px 12px 120px;
    background-color: $primary-light;
    margin-bottom: 8px;
    color: $primary-dark;
    &ItemID {
      width: 100px;
    }
    &ItemName {
      width: 500px;
    }
    &Cases {
      width: 90px;
      text-transform: capitalize;
      text-align: center;
    }
  }
  &__row {
    display: flex;
    padding-left: 120px;
    padding-bottom: 2px;
    &ItemID {
      width: 100px;
    }
    &ItemName {
      width: 500px;
    }
    &LocationName {
      width: 200px;
      text-transform: capitalize;
    }
    &Cases {
      display: flex;
    }
    &CaseNumber {
      width: 90px;
      text-align: center;
    }
  }
}