@import '../../partials/_mixins.scss';
@import '../../partials/_variables.scss';
.count {
  background-color: $bg;
  &__hero {
    padding: 80px 120px;
    background-image: url("../../assets/hero4.jpg");
    background-size: cover;
    background-position: 80% 24%;
  }
  &__header {
    font-size: 60px;
  }
  &__title {
    font-size: 20px;
    text-transform: capitalize;
  }
  &__subtitles {
    display: flex;
    font-weight: bold;
    padding: 12px 12px 12px 120px;
    background-color: $primary-light;
    margin-bottom: 8px;
    color: $primary-dark;
    &-ID {
      width: 100px;
    }
    &-name {
      width: 500px;
    }
    &-cases {
      width: 100px;
    }
  }
  &__row {
    display: flex;
    padding-left: 120px;
    &-ID {
      width: 100px;
    }
    &-name {
      width: 500px;
    }
    &-count {
      width: 80px;
      background-color: white;
      border: 1px solid $primary-highlight;
      border-radius: 4px;
      color: grey;
      padding: 0px 12px;
    }
  }
  &__button {
    @include button;
    margin: 12px 118px;
  }
}